body
	{
	background-color: #FFFFFF;
	color: #000033;
	font-weight: normal;
	font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
	line-height: 14pt;
	}

p, table, td, th {
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 30px;
}

div
	{
	color: #FFFFCC;
	font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
	}


.mainHead {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #CCCC00;
    font-weight: bold;
    font-size: 25pt;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
}

.itemHead
	{
    background-color: #993333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #FFFFCC;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px 20px 0;
    padding: 10px 10px 10px 10px;
	}

.orderHead
	{
	background-color: #FFFFCC;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #669966;
	font-weight: bold;
	font-size: 25pt;
	margin-top:20;
	margin-bottom: 0;
	margin-left: 20;
	margin-right: 0;
	padding-top: 50px;
	}

.cartHead, .regHead
	{
	background-color: #CCFF99;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #669966;
	font-weight: bold;
	font-size: 25pt;
	margin-top:20;
	margin-bottom: 0;
	margin-left: 20;
	margin-right: 0;
	padding-top: 50px;
	}

.regField
	{
	font-weight: bolder;
	font-size: 16px;
	line-height: 30px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding-top: 50px;
	}

.CartListHead
	{
	padding-left: 5px;
	font-weight: bold;
	font-size: 16px;
	border-left: dimgray 1px solid;
	color: black;
	line-height: 20pt;
	border-bottom: dimgray;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #CCFF99;
	}

.CartListItem
	{
	padding-left: 5px;
	font-size: 16px;
	border-left: dimgray 1px solid;
	border-bottom: dimgray;
	color: black;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #FFFFFF;
	}

.CartListTotal
	{
	padding-left: 5px;
	font-size: 16px;
	border-left: dimgray 1px solid;
	color: black;
	border-bottom: dimgray;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #FFFFFF;
	font-weigt: bold;
	}

.CartListFooter
	{
	line-height: 10pt;
	background-color: #ccff99;
	}

h4
	{
	background-color: #999966;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 23pt;
	margin-top: 10;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	}

h5
	{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #333333;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 0 0 0;
	}
	
h6
	{
	font-size: 18px;
	}

/*A:link, A:active, A:visited
	{
	font-size: 8pt;
	color: #FFCC00;
	text-decoration: none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	}

A:hover
	{
	color: #FFCC00;
	text-decoration: underline;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	}*/

.top

	{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
	color: #FFCC00;
	filter: dropshadow(color=#000000,offx=1,offy=1);
	font-weight: bold;
	}

.topmenu

	{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;;
	color: #FFCC00;
	filter: dropshadow(color=#000000,offx=1,offy=1);
	font-weight: bold;
	}

.topmenu:link, .topmenu:active, .topmenu:visited

	{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: none;
	}

.topmenu:hover

	{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;;
	color: #FFFFCC;
	text-decoration: none;
	}

.cartlink:link, .cartlink:active, .cartlink:visited
	{
	font-size: 16px;;
	color: #993333;
	text-decoration: none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	}

.cartlink:hover
	{
	color: #993333;
	text-decoration: underline;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	}

.contact:link, .contact:active, .contact:visited
	{
	font-size: 16px;;
	font-style: italic;
	color: #993333;
	text-decoration: none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	}

.contact:hover
	{
	color: #993333;
	text-decoration: underline;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-style: italic;
	font-weight: normal;
	}

.menu
	{
	margin-top: 3;
	margin-bottom: 0;
	margin-left: 10;
	margin-right: 0;
	}

.footer
	{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;
	color: #003300;
	text-align: center;
	}

hr
	{
	color: #004000;
	height: 1pt;
	text-align: center;
	}

.btn {
    cursor: hand;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #000033;
    font-weight: bolder;
    padding: 5px 15px;
}

input, select {
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.top

	{
	font-size: 8pt;
	text-decoration: none;
	filter: dropshadow(color=#000000,offx=1,offy=1);
	}

.required
	{
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
	color: #993333;
	}

.sectionheader
	{
	padding-right: 5px;
	padding-left: 10px;
	font-weight: 900;
	font-size: 12px;
	color: #ccff99;
	line-height: 16px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration: none;
	}

.regular
	{
	font-weight: 600;
	font-size: 16px;
	color: #CC9933;
	line-height: 16px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration: none;
	}

.regular:hover
	{
	font-weight: 600;
	font-size: 16px;
	color: #669966;
	line-height: 16px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-decoration: none;
	}

.title
	{
	font-weight: bold;
	font-size: 14px;
	color: #660000;
	line-height: 16px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	}

.title:link, .title:active, .title:visited, .title:hover
	{
	text-decoration: none;
	color: #993333;
	}


.centertitle
	{
	font-weight: bold;
	font-size: 18px;
	color: #FFCC00;
	line-height: 20px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	}

ul
	{
	list-style: url(images/li.gif);
	margin-bottom: 4pt;
	margine-left:1
	}	